
<div class="row">
    <div class="six columns centered">
        <div id="confirmContainer"></div>
    </div>
</div>

<div class="row">
    <div class="six columns centered">
        <form>
            <fieldset>

                <h2>My Fancy Form</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae venenatis sapien.
                    In purus purus, consectetur non laoreet sed, sodales sed risus. Etiam sit amet erat ut lectus
                    rutrum luctus. Vestibulum sollicitudin purus et arcu condimentum mattis.
                    Ut vehicula lacinia tortor viverra iaculis.
                </p>


                <input type="button" class="round button" id="btnDelete" value="Delete It!"/>
                <input type="button" class="round button" id="btnSave" value="Save It!"/>
            </fieldset>
        </form>

    </div>
</div>

<div class="row">
    <div class="six columns centered">

        <h2 id="confirmResult"></h2>

    </div>
</div>
